<footer class="site-footer">
    <div class="footer-content">
        <p>View the source code on <a href="https://github.com/zebratic/linux-network-monitor" target="_blank">GitHub <i class="fab fa-github"></i></a></p>
    </div>
</footer>
