<div id="processes">
    <div class="navbar-content">
        <div class="navbar-main">
            <div class="search-with-icon">
                <img class="selected-process-icon" src="/program-icon/default" alt="">
                <input type="text" id="search" placeholder="Search processes or PIDs...">
            </div>
            <div class="navbar-actions">
                <button class="settings-button" title="Settings">
                    <i class="fas fa-cog"></i>
                </button>
            </div>
        </div>
    </div>
    <div id="processList" class="process-list"></div>
</div> 