<div id="processes">
    <input type="text" id="search" placeholder="Search processes...">
    <div id="currentProcess">No process selected</div>
    <div id="processList" class="process-list"></div>
</div> 