<div id="processes">
    <div class="navbar-content">
        <div class="navbar-main">
            <div class="search-with-icon">
                <img class="selected-process-icon" src="/program-icon/default" alt="">
                <input type="text" id="search" placeholder="Search processes or PIDs...">
            </div>
            <label class="show-local-checkbox">
                <input type="checkbox" id="showLocal" checked>
                Show Local Connections
            </label>
        </div>
    </div>
    <div id="processList" class="process-list"></div>
</div> 