<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/header') %>
</head>
<body>
    <h1>Connection Monitor</h1>
    
    <%- include('../partials/process-list') %>
    <%- include('../partials/connections') %>

    <%- include('../partials/scripts') %>
</body>
</html> 